body {
	padding-top: 50px;
	color: #959595;
	}

.banner {
margin: 0 auto;
padding: 1%
}
.div-banner{
	background-color: black;
}

.content-form{
	background-color: #101010 !important;
}

.form-new-user label{
	color: white;
	font-size: 100%;
}

.form-header{
	color: white !important;
}

.bnt-form{
	background-color: #101010 !important;
	font-size: 200% !important;
}

.form-new-user input{
	color: white	;
	background-color: #101010;
}

.promo{
	margin-top: 20%;
	background-color: #101010	!important;
	color: #d6d6d6 !important;
}

.table-coupons{
	background-color: #101010;
	color: whitesmoke;
}

.bnt-home{
	background-color: #9d9d9d	!important;
	color: #101010 !important;
}
	
.feature {
	background-color: yellowgreen;
	color: greenyellow;
	}
	
.article-intro {
    margin-bottom: 25px;
}

.footer-blurb {
    background-color:black;
    color: #959595;
}
    
.footer-blurb-item {
    padding: 30px;
    }
 
.small-print {
	background-color:black;
	padding: 30px 0;
}

.link-login{
	color: #959595 ;
		font-size: 150%;
}

.bnt-register{
	background-color: #101010 !important;
    color: white !important;
	border: 2px solid black  !important;
	font-size: 150%  !important;
}

.bnt-register-space{
	margin-bottom: 1%;
}

.buttonNewAccount {
    background-color: white;
    color: black;
	border: 2px solid black;
	font-size: 150%;
}

.link-logout{
	color: #959595 ;
		font-size: 80%;
}

.dashboardPanel{
	color: white !important;
	background-color: #101010 !important	;
}

.head-table{
	color: white !important;
}

.user-info{
	color: #959595 ;
		font-size: 150%;
}

.Body-style{
	background-image:url("/imagens/bg.jpg");
	background-size: 100% 100%;
	background-repeat:no-repeat;
}

.content-body{
	margin: 10%;
}

.post{
	color:white;
}

.post a{
	color:white;
}
.cont-body{
	margin: 5%;
}

.img-banner{
	width: 100%;
	margin-top: 2%;
}
